.accessibility__items {
  display: flex;
  
  /*flex-wrap: wrap; */ /* This will allow items to wrap to the next line */
  flex-direction: column;
  gap: 10px; /* This is the space between each icon-text pair */
}

.accessibility__item {
  display: flex;
  align-items: center; /* Vertical alignment */
  gap: 5px; /* Space between icon and text */
  /*flex-basis: calc(50% - 10px); */ /* Adjust the width of the item minus the gap */
  /*max-width: calc(50% - 10px); */ /* To ensure that it doesn't grow beyond the calculated width */
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px; /* Adjust spacing as needed */
    margin-bottom: 8px; /* Space between items */
}

.accessibility__text {
  color: #252e48; /* This changes the text color to black */
  font-size: 14px; /* This sets the font size to 14 pixels, adjust as needed */
}

/* This will change the color of the FontAwesome icons to black */
.accessibility__item .fa {
  color: #252e48;
}

/* This will change the color of the "Contact and Accessibility" heading to black */
.accessibility__sub__heading {
  color: #252e48;
  text-align: center;
  border-bottom: 1px solid #ccc;

  padding-bottom:8px;
    margin-bottom: 8px;
}

.icon-black {
  color: #252e48!important; /* Force the color change */
}